<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Device Vulnerability Lookup</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <style>
          #errors > .row {
              background-color: #d01515;
          }
          [class*="col-"] {
                  padding-top: 5px;
                  padding-bottom: 5px;
                  border: 1px solid #ddd;
                  border: 1px solid rgba(86,61,124,.2);
            }
          .Medium > [class*="col-"]{
              background-color: #eeeca3;
          }
          .High > [class*="col-"] {
              background-color: #ee908b;
          }
          .Low > [class*="col-"] {
                  background-color: #eee;
                  background-color: rgba(86,61,124,.15);
          }
      </style>
  </head>
  <body>
  <a href="https://github.com/DanBeard/LibScanner" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
  <div class="jumbotron">
      <div class="container">
        <h2> Is Your Device Secure? </h2>
          <p> paste the list of your installed packages below and we'll search for known vulnerabilities</p>
      </div>
  </div>
  <div class="container">
      <h4> Instructions</h4>
      <ul>
          <li><strong>yocto</strong> - Follow the instructions in the <a href="http://www.yoctoproject.org/docs/current/ref-manual/ref-manual.html#maintaining-build-output-quality">yocto manual</a> and
      paste the contents of installed-packages.txt below. </li>
          <li><strong>rpm</strong> - run 'rpm -qa' in the terminal and paste the ouput below </li>
          <li><strong>windows</strong> - open an admin cmd prompt and type wmic <br /> At the wmic console paste: <pre>/output:C:\InstallList.txt product list BRIEF /format:csv</pre> Copy and paste the contents of C:\InstallList.txt into the box below </li>
          <li><strong>other</strong> - 'pip install swid_generator && swid_generator swid' in the terminal and paste the output below </li>
    </ul>
  </div>

    <form action="/tool" method="post" style="text-align: center">
    <textarea name="package_list" style="width:50%" rows="10">{{package_str}}</textarea> <br/>
    <input type="submit">
    </form>
 {% if errors|length > 0 %}
  <div  style="margin-top: 10px" class="alert alert-danger">
        {% for e in errors %}
             {{ e }} <br/>
        {% endfor %}
  </div>
  {% endif %}
    <div class="container">
        {% if vuln_free %}
        <h3> No vulnerabilities found. Be sure to keep an eye out!</h3>
        {% endif %}
        {% for p,v in vulns.items() %}
        <div style="margin-bottom: 20px; padding: 10px;">
             <div> <h3> {{ p }} </h3></div>
                    {% for e in v %}
                     <div class="row {{ e['@severity'] }}" style="margin-top: 10px">
                        <div class="col-md-2 "> {{ e['@severity'] }} ({{e['@CVSS_score']}}) </div>
                         <div class="col-md-2"> <a  target="_blank" href="https://web.nvd.nist.gov/view/vuln/detail?vulnId={{ e['@name'] }}">{{ e['@name'] }}</a> </div>
                         <div class="col-md-3">  &nbsp; </div>
                         <div class="col-md-1"> {{ e['@type'] }} </div>
                         <div class="col-md-2"> {{ e['@published'] }} </div>
                     </div>
                    <div class="row {{ e['@severity'] }}">
                        <div class="col-md-1" style="background-color: transparent; border: 0px;"> </div>
                        <div class="col-md-9"> {{e['desc']['descript']['#text']}}</div>
                    </div>
                    {% endfor %}
        </div>
        {% endfor %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  </body>
</html>

